@{
    Layout = "_Layout";
}

<div class="banner">
    <div class="main-banner owl-carousel">
        <div class="item">
            <div class="banner-info container">
                <div class="text1"> @ViewBag.Slider.Yazi1</div>
                <div class="text2"> @ViewBag.Slider.Yazi2</div>
                <div class="text3"> @ViewBag.Slider.Yazi3 </div>

            </div>
            <a href="#"><img src="/images/@ViewBag.Slider.Resim" alt="Main Banner" class="img-responsive"></a>
        </div>
    </div>
</div>

<!-- =====  SERVICES START  ===== -->
@*<div class="container">
    <div class="row text-center mt_50">
        <div class="services col-md-4 col-sm-6 mt_30">
            <div class="icon-top"><a href="#"><i class="icon ion-android-happy"></i></a></div>
            <h4 class="sub_title mtb_10">Misyon</h4>
            <p>@ViewBag.Hakkimizda.Misyon</p>
        </div>
        <div class="services col-md-4 col-sm-6 mt_30">
            <div class="icon-top"><a href="#"><i class="icon ion-android-subway"></i></a></div>
            <h4 class="sub_title mtb_10">Vizyon</h4>
            <p>@ViewBag.Hakkimizda.Vizyon</p>
        </div>
        <div class="services col-md-4 col-sm-6 mt_30">
            <div class="icon-top"><a href="#"><i class="icon ion-android-call"></i></a></div>
            <h4 class="sub_title mtb_10">Hedeflerim</h4>
            <p>@ViewBag.Hakkimizda.Hedefler</p>
        </div>
    </div>
</div>*@
<!-- =====  SERVICES END  ===== -->