@{
    Layout = "_AdminLayout";
}
@model List<Urun>
<div style="width:100%">
    <a asp-action="UrunEkle" asp-controller="AdminUrun" asp-route-id="@ViewBag.KategoriTwoId" class="btn btn-primary">Urun Ekle</a>

</div>
<br />
@if (TempData["Ekleme"] != null)
{

    <div class="alert success" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Ekleme"]
    </div>
}

@if (TempData["Guncellendi"] != null)
{

    <div class="alert info" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Guncellendi"]
    </div>
}

@if (TempData["Silindi"] != null)
{

    <div class="alert warning" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Silindi"]
    </div>
}
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>İşlemler</th>
            <th>Urun Kodu</th>
            <th>Resim</th>
            <th>Ad</th>
            <th>Aciklama</th>
            <th>Fiyat</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-danger" asp-action="UrunSil" asp-controller="AdminUrun" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to DELETE?');">Sil</a><br />
                    <a class="btn btn-info" asp-action="UrunGuncelle" asp-controller="AdminUrun" asp-route-id="@item.ID">Guncelle</a><br />

                </td>
                <td>@item.UrunKod</td>
                <td width="100" height="100" align="center"><img src="/images/@item.Resim" height="100" width="100"></td>
                <td>@item.Ad</td>
                <td>@item.Aciklama</td>
                <td>@item.Fiyat</td>


            </tr>
        }
    </tbody>
</table>