@{
    Layout = "_AdminLayout";
}
@model List<KategoriTwo>
<div style="width:100%">
    <a asp-action="AltKategoriEkle" asp-controller="AdminAltKategori" asp-route-id="@ViewBag.UstKategori" class="btn btn-primary">Alt Kategori Ekle</a>

</div>
<br />
@if (TempData["Ekleme"] != null)
{

    <div class="alert success" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Ekleme"]
    </div>
}

@if (TempData["Guncellendi"] != null)
{

    <div class="alert info" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Guncellendi"]
    </div>
}

@if (TempData["Silindi"] != null)
{

    <div class="alert warning" id=mainAlertMessage>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["Silindi"]
    </div>
}
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>İşlemler</th>
            <th>Ürünler</th>
            <th>Alt Kategori Adı</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-danger" asp-action="AltKategoriSil" asp-controller="AdminAltKategori" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to DELETE?');">Sil</a><br />
                    <a class="btn btn-info" asp-action="AltKategoriGuncelle" asp-controller="AdminAltKategori" asp-route-id="@item.ID">Guncelle</a><br />

                </td>
                <td>

                    <a class="btn btn-info" asp-action="UrunListele" asp-controller="AdminUrun" asp-route-id="@item.ID">Urunler</a><br />

                </td>

                <td>@item.Ad</td>

            </tr>
        }
    </tbody>
</table>